---
// Component Imports
import { query, collection, orderBy, getDocs, DocumentData, limit } from "firebase/firestore"; 
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav/index.jsx';
import Footer from '../components/Footer/index.jsx';
// import Loader from '../components/Loader';
import { db } from '../js/init';
// import * as utils from '../js/utils';


// Data Fetching: List all Markdown posts in the repo.
// const projects = await Astro.glob('./project/**/*.md');
interface IProject extends DocumentData {
	id: string | undefined
}

const projectsRef = await getDocs(query(collection(db, 'projects'), orderBy("createdAt", "desc")));
const projects: IProject[] = [];
projectsRef.forEach(doc => {
	const project: IProject = {...doc.data(), id: doc.id};
	projects.push(project);
});

const blogsRef = await getDocs(query(collection(db, 'posts'), orderBy("createdAt", "desc"), limit(6)));
const blogs: IProject[] = [];
blogsRef.forEach(doc => {
	const blog: IProject = {...doc.data(), id: doc.id};
	blogs.push(blog);
});

const yearsOfExperience = new Date().getFullYear() - 2019;

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en-RW">
	<head>
		<MainHead title="RedJanvier"/>
	</head>
	<body>
		<div class="container">
			<Nav />
			<main class="section hero">
        <h2 class="section__heading">I am a Software <span class="animated-role" id="role"><span class="current-role" id="role">Developer</span></span></h2>
        <p class="section__subheading">
          I design and develop beautifully simple things with care.
        </p>
        <img src="/assets/img/profile 2.jpg" class="profile" alt="my-profile" /> <br />
        <img
          src="/assets/img/hero-illustration-2.svg"
          class="illustration"
          alt="main-illustration"
        />
      </main>
      <section id="about" class="section colored">
        <h2 class="section__heading">Hi, I’m Janvier Ntwali. Nice to meet you.</h2>
        <p class="section__subheading">
          With over {yearsOfExperience} years of experience in web development, I specialize in creating visually appealing and user-friendly web applications that drive business growth. My expertise in SEO ensures that these websites attract a large audience while my skills and experience can help solve any web development challenges you may have. Let's work together to build a software solution that exceeds your expectations.
        </p>
        <div class="card straight">
          <div class="card__column">
            <div class="card__column-img">
              <img src="/assets/img/designer-2.svg" alt="designer-icon" />
            </div>
            <h3>Designer</h3>
            <p>
              Amazing designs with a simplistic touch of well thought
              interactions that provide unforgettable experience
            </p>
            <h4>Things I enjoy designing:</h4>
            <p>UX, UI, Web, Mobile, Apps, Logos</p>
            <h4>Design Tools</h4>
            <ul class="tools animate">
              <li>Figma</li>
              <li>Invision</li>
              <li>AdobeXD</li>
              <li>Pen & Paper</li>
              <li>Sketch</li>
            </ul>
          </div>
          <div class="card__column">
            <div class="card__column-img">
              <img src="/assets/img/frontend-2.svg" alt="frontend-icon" />
            </div>
            <h3>Frontend Developer</h3>
            <p>
              I enjoy taking your beautiful ideas from a beautiful design to an
              amazing functional site for your business
            </p>
            <h4>Languages I speak:</h4>
            <p>HTML, CSS, Sass, React, PWA, EJS, HBS</p>
            <h4>Dev Tools</h4>
            <ul class="tools animate">
              <li>Astro</li>
              <li>Git & Github</li>
              <li>Reactjs & Vuejs</li>
              <li>React Native, Nextjs and Nuxtjs</li>
              <li>Redux, Vuex & MobX </li>
            </ul>
          </div>
          <div class="card__column">
            <div class="card__column-img">
              <img src="/assets/img/mentor-2.svg" alt="backend-icon" />
            </div>
            <h3>Backend Developer</h3>
            <p>
              Advance your business even further with impressive control on your
              data highly scalable and modification ease
            </p>
            <h4>Experiences I have:</h4>
            <p>Node, Express, HeadlessCMS, Severless, Docker, TypeScript</p>
            <h4>Amazing Tools</h4>
            <ul class="tools animate">
              <li>REST & GRAPHQL</li>
              <li>Postgres & MySQL</li>
              <li>MongoDB & CouchDB</li>
              <li>Terminal & CLI apps</li>
              <li>AWS, Digital Ocean & Heroku</li>
            </ul>
          </div>
        </div>
      </section>
      <hr class="section-separator" />
      <section id="portfolio" class="section colored">
        <h2 class="section__heading">My Recent Work</h2>
        <p class="section__subheading">
          Here are a few design projects I've worked on recently. Want to see
          yours?
          <a href="#contact" class="active">Email me.</a>
        </p>
       {projects.length && <div class="slides-container">
					 {projects.map(project => (
						<div class="slides fade">
							<div class="card straight fixed">
								<div class="card__column dim">
									<img src={project.image} alt={project.title + ' - Project Image'} />
								</div>
								<div class="card__column">
									<h4>{project.title}</h4>
									<div set:html={project.body}></div>
									{project.live && <a href={project.live} rel="external nofollow" class="btn">Visit Site</a>}
									{project.code && <a href={project.code} rel="external nofollow" class="btn">View Source</a>}
								</div>
							</div>
						</div>
						))
					}
					{projects.length && <button class="prev" onclick="changeSlide(-1)">&#10094;</button>}
          {projects.length && <button class="next" onclick="changeSlide(1)">&#10095;</button>}
        </div>}
        <br />
        <div class="section__action">
          <a href="https://github.com/RedJanvier" class="btn" target="_blank"><i class="fa fa-github"></i> More on Github</a>
        </div>
      </section>
      <!-- <section id="blog" class="section colored">
        <h2 class="section__heading">Blog</h2>
        <p class="section__subheading">Latest posts from my blog.</p>
        {blogs.length && <div class="blogs grid">
					{blogs.map(blog => <a href={"./blog-old/" + blog.id} class="card">
            <div class="card__column-top">
              <div class="card__image"><img src={blog.image} alt={blog.title.toLowerCase().replaceAll(' ', '-') + "-post-image"} /></div>
              <h3>{blog.title}</h3>
            </div>
            <div class="card__column-footer">
              <span><i class="fa fa-heart-o"></i> {blog.likes || 0}</span>
              <span><i class="fa fa-commenting-o"></i> {blog.comments || 0}</span>
              <span><i class="fa fa-eye"></i> {blog.views || 0}</span>
            </div>
          </a>)}
        </div>}
        <div class="section__action">
          <a href="#" class="btn">Read more here</a>
        </div>
      </section> -->
      <hr class="section-separator" />

      <section id="contact" class="section">
        <h2 class="section__heading">Contact Me</h2>
        <p class="section__subheading">
          Interested in my work?
          <a href="#" class="active">Don’t leave without saying hi!</a>
        </p>
        <form class="form contact-form">
          <div id="error-panel" class="error fade"></div>
          <div class="form__field">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" onchange="validate(this)" onkeyup="validate(this)" placeholder="Your full name" />
          </div>
          <div class="form__field">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" onchange="validate(this)" onkeyup="validate(this)" placeholder="Your Email" />
          </div>
          <div class="form__field">
            <label for="message">Message:</label>
            <textarea
              name="message"
              id="message"
              placeholder="Your message" onchange="validate(this)" onkeyup="validate(this)"></textarea>
          </div>
          <div class="form__field">
            <button type="submit" name="submit" class="btn active">Send Message</button>
          </div>
        </form>
			</section>
			<Footer />
		</div>
		<script is:inline src="/js/utils.js"></script>
		<script is:inline src="/js/slides.js"></script>
		<script is:inline src="/js/nav.js"></script>
	</body>
</html>
