---
// import '../styles/global.scss';
import '../css/styles.css';
const {
	title = 'RedJanvier portfolio and blog site',
	description = 'Latest and trending tech news with insightful and clear details',
	author = 'RedJanvier'
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{title}</title>
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="author" content={author} />
<meta name="description" content={description} />
<meta name="og:title" property="og:title" content={title}>
<meta name="twitter:card" content={description}>
<meta name="robots" content="noindex, nofollow">
<meta name="generator" content={Astro.generator} />
<!-- <link rel="canonical" href="https://redjanvier.uzakurahub.xyz/"> -->
<link rel="canonical" href="https://redjanvier.netlify.app/">
<link rel="preconnect" href="https://stackpath.bootstrapcdn.com"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>