---
// import '../styles/global.scss';
import '../css/styles.css';
const baseURL = 'https://redjanvier.com';

const {
	title = 'RedJanvier',
	description = 'I design and develop beautiful, simple, performant and secure websites and web applications with care',
	author = 'RedJanvier',
	image = baseURL + '/assets/img/profile%202.jpg',
	currentUrl = baseURL
} = Astro.props;

const themeColor = '#2B464F'
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{title}</title>

<!-- basic -->
<meta name="author" content={author} />
<meta name="description" content={description} />
<meta name="robots" content="index, follow">
<meta name="theme-color" content={themeColor} />
<meta name="generator" content={Astro.generator} />
<meta name="referrer" content="origin-when-cross-origin">
<meta name="keywords" content="website, developer, rwanda, kigali, designer, architect, front-end, back-end, full-stack, fullstack, redjanvier, janvier ntwali">

<!-- open graph -->
<meta property="og:site_name" content="RedJanvier portfolio">
<meta name="og:title" property="og:title" content={title}>
<meta name="og:image" property="og:image" content={image}>
<meta name="og:image" property="og:image:width" content="480">
<meta name="og:image" property="og:image:height" content="360">

<!-- applink -->
<!-- <meta property="al:web:url" content="http://redjanvier.com" /> -->

<!-- favicon icons -->
<link rel="icon" type="image/png" sizes="192x192"  href="/favicon_io/android-chrome-512x512.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/favicon_io/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
<link rel="icon" type="image/ico" sizes="96x96" href="/favicon_io/favicon.ico">
<link rel="apple-touch-icon" href="/favicon_io/apple-icon.png">

<!-- twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@red_janvier" />
<meta name="twitter:creator" content="@red_janvier" />
<meta name="twitter:description" content={description} />
<meta name="twitter:url" content={currentUrl} />
<meta name="twitter:image" content={image} />
<meta name="twitter:title" content={title} />

<!-- external links -->
<link rel="canonical" href={baseURL}>
<link rel="preconnect" href="https://stackpath.bootstrapcdn.com"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
